#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

override_dh_auto_configure:
	mkdir -p usr/share/dotnet

override_dh_auto_build:
	./dotnet-install.sh -i usr/share/dotnet -v 6.0.404

override_dh_auto_clean:
	rm -r usr

%:
	dh $@